/* #Js
  -------------------------------------------------------------------------- */
/*doc
---
title: js
name: js
categories: [js]
---

javascript ファイルで指定する専用のクラス

```block
```
*/
.js-heightline {
}
