.ccm-responsive-overlay {
	display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    text-align: center;
    background: #ddd;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.ccm-responsive-overlay .ccm-responsive-navigation {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.ccm-responsive-overlay .p-globalNav {
	list-style: none;
	font-size: x-large;
}