 /* #bg
   -------------------------------------------------------------------------- */
/*doc
---
title: bg
name: bg
categories: [utility]
---

背景色を指定します。

*/
.u-bg--p {
	background-color: $_color-bg-primary;
}

.u-bg--s {
	background-color: $_color-bg-secondary;
}

.u-bg--p-darker {
	background-color: darken($_color-bg-primary, 20%);
}

.u-bg--p-dark {
	background-color: darken($_color-bg-primary, 40%);
}

.u-bg--p-lighter {
	background-color: lighten($_color-bg-primary, 10%);
}

.u-bg--p-light {
	background-color: lighten($_color-bg-primary, 20%);
}

.u-bg--s-darker {
	background-color: darken($_color-bg-secondary, 20%);
}

.u-bg--s-dark {
	background-color: darken($_color-bg-secondary, 40%);
}

.u-bg--s-lighter {
	background-color: lighten($_color-bg-secondary, 20%);
}

.u-bg--s-light {
	background-color: lighten($_color-bg-secondary, 40%);
}