 /* #Float
   -------------------------------------------------------------------------- */
/*doc
---
title: float
name: float
categories: [utility]
---

floatを使って左右に配置します。

*/
.u-float-left {
	float: left;
}

.u-float-right {
	float: right;
}
