 /* #Margin
   -------------------------------------------------------------------------- */
/*doc
---
title: margin
name: margin
categories: [utility]
---

マージンで余白の管理をします。常に下方向にだけ余白をとります。
`<section>`要素を使うようなセクションの余白はlayout/_section.scssで管理します。

* `.u-mb`は常に余白をとります。
* `.u-mb-gain`はあるブレイクポイント以上で余白を指定します。
* `.u-mb-lose`はあるブレイクポイント以上で余白を無くします。

サイズのバリエーションは最大で5つ、通常は3つとします。

1. `tiny`(optional)
2. `small`
3. `medium`
4. `large`
5. `huge`(optional)

```block
<div class="u-mb-medium">
  <p>Lorem ipsum</p>
</div>

<div class="u-mb-gain-medium">
  <p>Lorem ipsum</p>
</div>

<div class="u-mb-lose-medium">
  <p>Lorem ipsum</p>
</div>
```
*/
/* 常に余白を指定するクラス。 */
.u-mt-small {
  margin-top: 0.5em !important;
  @include _mq-up() {
    margin-top: 1em !important;
  }
}

.u-mt-xsmall {
  margin-top: 0.2em !important;
  @include _mq-up() {
    margin-top: 0.4em !important;
  }
}

.u-mt-medium {
  margin-top: 1em !important;
  @include _mq-up() {
    margin-top: 2em !important;
  }
}

.u-mt-large {
  margin-top: 2em !important;
  @include _mq-up() {
    margin-top: 4em !important;
  }
}

.u-mb-small {
  margin-bottom: 0.5em !important;
  @include _mq-up() {
    margin-bottom: 1em !important;
  }
}

.u-mb-xsmall {
  margin-bottom: 0.2em !important;
  @include _mq-up() {
    margin-bottom: 0.4em !important;
  }
}

.u-mb-medium {
  margin-bottom: 1em !important;
  @include _mq-up() {
    margin-bottom: 2em !important;
  }
}

.u-mb-large {
  margin-bottom: 2em !important;
  @include _mq-up() {
    margin-bottom: 4em !important;
  }
}

.u-mb-xlarge {
  margin-bottom: 3em !important;
  @include _mq-up() {
    margin-bottom: 5em !important;
  }
}

/* ブレイクポイント以上で余白を指定するクラス。 */
.u-mb-gain-small {
  margin-bottom: 0 !important;
  @include _mq-up() {
    margin-bottom: 1em !important;
  }
}

.u-mb-gain-medium {
  margin-bottom: 0 !important;
  @include _mq-up() {
    margin-bottom: 2em !important;
  }
}

.u-mb-gain-large {
  margin-bottom: 0 !important;
  @include _mq-up() {
    margin-bottom: 4em !important;
  }
}

.u-mb-gain-xlarge {
  margin-bottom: 0 !important;
  @include _mq-up() {
    margin-bottom: 6em !important;
  }
}

.u-mb-gain-xxlarge {
  margin-bottom: 0 !important;
  @include _mq-up() {
    margin-bottom: 8em !important;
  }
}

/* ブレイクポイント以上で余白を無くすクラス。 */
.u-mb-lose-small {
  margin-bottom: 0.5em !important;
  @include _mq-up() {
    margin-bottom: 0 !important;
  }
}

.u-mb-lose-medium {
  margin-bottom: 1em !important;
  @include _mq-up() {
    margin-bottom: 0 !important;
  }
}

.u-mb-lose-large {
  margin-bottom: 2em !important;
  @include _mq-up() {
    margin-bottom: 0 !important;
  }
}

.u-mt-kill {
  margin-top: 0 !important;
}

.u-mb-kill {
  margin-bottom: 0 !important;
}

/**
 * l-main のマージンを削除するときに使用する
 */
.u-mb-main-kill {
  margin-bottom: -$_main-margin-bottom !important;
}