 /* #row.scss
   -------------------------------------------------------------------------- */

.u-row-0{ margin-left:0px;  margin-right:0px}
.u-row-0 >div{ padding-right:0px;  padding-left:0px}
.u-row-10{ margin-left:-5px;  margin-right:-5px}
.u-row-10 >div{ padding-right:5px;  padding-left:5px}
.u-row-20{ margin-left:-10px;  margin-right:-10px}
.u-row-20 >div{ padding-right:10px;  padding-left:10px}
.u-row-30{ margin-left:-15px;  margin-right:-15px}
.u-row-30 >div{ padding-right:15px;  padding-left:15px}


@media screen and (max-width: 760px) {
	.u-row-sm-0{ margin-left:0px;  margin-right:0px}
	.u-row-sm-0 >div{ padding-right:0px;  padding-left:0px}
	.u-row-sm-10{ margin-left:-5px;  margin-right:-5px}
	.u-row-sm-10 >div{ padding-right:5px;  padding-left:5px}
	.u-row-sm-20{ margin-left:-10px;  margin-right:-10px}
	.u-row-sm-20 >div{ padding-right:10px;  padding-left:10px}
	.u-row-sm-30{ margin-left:-15px;  margin-right:-15px}
	.u-row-sm-30 >div{ padding-right:15px;  padding-left:15px}
}