 /* #Youtube
   -------------------------------------------------------------------------- */

.u-youtube {
	position: relative;
	width: 100%;
	padding-top: 56.25%;	

	&__iframe {
		position: absolute;
		top: 0;
		right: 0;
		width: 100% !important;
		height: 100% !important;
  	}
}