 /* #Footer
   -------------------------------------------------------------------------- */
/*doc
---
title: footer
name: footer
categories: [layout]
---

`<body>`タグ直下にある`<footer>`タグのスタイルです。
コピーライトやナビゲーションのレイアウトを含むことはできますが、
コンポーネント自体はobject/projectレイヤーで定義します。

```block
<body>
  <footer class="l-footer">
    <div class="l-footer__copyright">
      <small class="p-copyright"></small>
    </div>
    <nav class="l-footer__sub-nav">
      <ul class="p-foot-nav">
        <li></li>
        <li></li>
      <ul>
    </nav>
  </footer>
</body>
```
*/
.l-footer {
	padding-top: 4rem;
	background: $_color-bg-darker;
	color: $_color-text-light;
}
.l-footer__body {
	display: flex;
	margin-bottom: 5rem;
	@include _mq_down {
		display: block;
	}
}
.l-footer__info {
	width: 35%;
	/* スマホは非表示 */
	@include _mq_down {
		width: auto;
	}

}
.l-footer__nav {
	width: 50%;
	margin-left: auto;
	/* スマホは左寄せで Utility だけ表示する */
	@include _mq_down {
		margin-left: 0;
		margin-right: auto;
		width: auto;
	}
}
.l-footer__copyright {
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	text-align: center;
	font-size: $_font-size--xsmall;
	background-color: $_color-bg-dark;
}