 /* #Header
   -------------------------------------------------------------------------- */
/*doc
---
title: header
name: header
categories: [layout]
---

`<body>`タグ直下にある`<header>`タグのスタイルです。
ロゴやグローバルナビゲーションのレイアウトを含むことはできますが、
コンポーネント自体はobject/projectレイヤーで定義します。

```block
```
*/
.l-header {
	background-color: $_color-bg;
	border-bottom: 1px solid $_color-border;
	@include _mq_down {
		height: 5rem;
	}
}
.l-header__inner {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	@include _mq_down {
		display: block;
	}
}

