// base color
$_color-text: #000 !default;
$_color-text-light: #fff !default;
$_color-text-dark: #42352f !default;
$_color-text-main: #444 !default;
$_color-text-border: #ffd102 !default;

$_color-bg: #fff !default;
$_color-bg-primary: #2b70ba !default;
$_color-bg-secondary: #999 !default;
$_color-bg-light: #ddd !default;
$_color-bg-darker: #777 !default;
$_color-bg-dark: #0d1f1e !default;
$_color-bg-important: #e33050 !default;

// link color
$_color-link: #2b70ba !default;
$_color-link--visited: null !default;
$_color-link--hover: lighten($_color-link, 15%) !default;

// component color
$_color-ui-border: #ddd !default;
$_color-ui-bg: #fff !default;
$_color-border: #7e7e7e !default;
