// default breakpoint
$_default-breakpoint: 'md';

// default wrapper width
$_max-width: 1060px !default;

// default grid columns
$_column: 12 !default;

// base font-size
$_font-size: (
  'sm': 1.5rem,
  'md': 1.6rem,
  'lg': 1.7rem,
  'xl': 1.8rem
) !default;

$_font-size--xxxxlarge: 4.0rem !default;
$_font-size--xxxlarge: 3.4rem !default;
$_font-size--xxlarge: 2.8rem !default;
$_font-size--xlarge: 2.3rem !default;
$_font-size--large: 1.9rem !default;
$_font-size--medium: 1.6rem !default;
$_font-size--small: 1.5rem !default;
$_font-size--xsmall: 1.3rem !default;

// base font-weight
$_font-weight-light: 300;
$_font-weight-normal: 400;
$_font-weight-bold: 600;

// base Rounded corners
$_radius: 5px !default;

// base animation speed
$_duration: 0.3s !default;

// base spacing
$_white-space: 1.7rem !default;
$_white-space--small: ($_white-space / 2) !default;
$_white-space--large: ($_white-space * 2) !default;
$_white-space--xlarge: ($_white-space * 3) !default;
$_white-space--xxlarge: ($_white-space * 5) !default;

// base border
$_border-btn--light: 2px solid #ffffff;

// base main contents bottom margin
$_main-margin-bottom: 10rem;

// base box bottom padding
$_box-padding-bottom: 50px;