/* #Block
  -------------------------------------------------------------------------- */
/*doc
---
title: block
name: block
categories: [component]
---

ブロックのオブジェクトです。

```block
```
*/

.c-block {
	position: relative;
}

.c-block__head {
	position: relative;
}

.c-block__body {
	position: relative;
}

.c-block__footer {
	position: relative;
}