/* #Breadcrumb
  -------------------------------------------------------------------------- */
/*doc
---
title: breadcrumb
name: breadcrumb
categories: [component]
---

パンくずリストのオブジェクトです。

```block
```
*/
.c-breadcrumb {
}

.c-breadcrumb__content {
	display: inline-block;
	margin-right: 1rem;
	font-size: $_font-size--small;
	&:not(:first-child)::before {
		padding-right: 0.5rem;
		content: "\f105";
		font-family: FontAwesome;
	}
}

.c-breadcrumb__content > :not(.active) {
	color: $_color-text;	
}