 /* #Button
   -------------------------------------------------------------------------- */
/*doc
---
title: button
name: button
categories: [component]
---

ボタンコンポーネントです。

Modifierは以下のとおりです。

* 100%表示 `--full`
* 真円 `--circle`
* 楕円 `--pill`, `--pill-right`, `--pill-center`, `--pill-left`

```block
<p><button class="c-button">c-button</button></p>
<p><a class="c-button c-button--full">c-button c-button--full</a></p>

<p>
  <button class="c-button c-button--pill-left">c-button c-button--pill-left</button>
  <button class="c-button c-button--pill-center">c-button c-button--pill-center</button>
  <button class="c-button c-button--pill-right">c-button c-button--pill-right</button>
</p>
```
*/
$_button-pill-base: 0 !default;
$_button-pill-round: 3em !default;

.c-button {
  display: inline-block;
  margin: 0;
  padding: 0.5em;
  border: none;
  border-radius: $_radius;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  appearance: none;
  text-decoration: none;
  color: $_color-text-light;
  @include _on-event {
    text-decoration: none;
  }
  &:disabled,
  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.c-button--darker {
	a {
		color: $_color-text-light;
	}
	background: url(../img/ptn01.png);
	font-size: $_font-size--large;
	width: 20%;
}
@media screen and (max-width: 760px) {
.c-button--darker {
	width: 60%;
}
}

.c-button--line {
	a {
		color: $_color-text-light;
	}
	border: solid 2px white;
	font-size: $_font-size--large;
  width: 60%;
  background-color: none;
}
@media screen and (max-width: 760px) {
.c-button--line {
	width: 60%;
}
}

.c-button--full {
  width: 100%;
}

.c-button--circle {
  border-radius: 50%;
}

.c-button--primary {
	background-color: $_color-bg-primary;
	&:hover {
		color: $_color-text-light;
		background-color: darken( $_color-bg-primary, 20% );
	}
}	

.c-button--secondary {
	background-color: $_color-bg-secondary;
	&:hover {
		color: $_color-text-light;
		background-color: darken( $_color-bg-secondary, 20% );
	}
}	


/**
 * カプセル状の錠剤のような形をしたボタンコンポーネントです。
 */
.c-button--pill {
  border-radius: $_button-pill-round;
}

.c-button--pill-right {
  border-radius: $_button-pill-base $_button-pill-round $_button-pill-round $_button-pill-base;
}

.c-button--pill-center {
  border-radius: $_button-pill-base;
}

.c-button--pill-left {
  border-radius: $_button-pill-round $_button-pill-base $_button-pill-base $_button-pill-round;
}
