/* #Container
  -------------------------------------------------------------------------- */
/*doc
---
title: container
name: container
categories: [component]
---

コンテナオブジェクトです。

```block
```
*/
.c-container {
    overflow: hidden;
    padding-bottom: $_box-padding-bottom;
}