 /* #IndexBox
   -------------------------------------------------------------------------- */
/*doc
---
title: IndexBox
name: IndexBox
categories: [component]
---

インデックスページのブロックのコンポーネント。

Modifierは以下のとおりです。

* フレームあり `--frame`

```block
```
*/

.c-indexBox {
}

/**
 * レベル1
 */
.c-indexBox__image {
}

/**
 * レベル2
 */
.c-indexBox__head {
}

/**
 * レベル3
 */
.c-indexBox__body {
}

