 /* #Label
   -------------------------------------------------------------------------- */
/*doc
---
title: label
name: label
categories: [component]
---

ラベルを指定するオブジェクトです。

Modifierは以下のとおりです。

* メインカラー `--primary`
* セカンドカラー `--secondary`
* 警告カラー `--important`

```block
```
*/

.c-label {
	display: inline-block;
    min-width: 3em;
    margin-right: .5em;
    padding: .5rem 1rem .45rem;
    transform: translate(0, -0.125rem);
    background-color: $_color-bg-darker;
    font-size: $_font-size--xsmall;
    color: #fff;
    text-align: center;
    line-height: 1;
    vertical-align: middle;
}

/**
 * メインカラー
 */
.c-label--primary {
    background-color: $_color-bg-primary;  
}

/**
 * セカンドカラー
 */
.c-label--secondary {
    background-color: $_color-bg-secondary;  
}

/**
 * 警告カラー
 */
.c-label--important {
    background-color: $_color-bg-important;  
}

