 /* #List-unstyled
   -------------------------------------------------------------------------- */
/*doc
---
title: list-unstyled
name: list-unstyled
categories: [component]
---

`<ul>`と`<ol>`のデフォルトスタイルをリセットします。

```block
<ul class="c-list-unstyled">
  <li>リスト1
  <ul class="c-list-unstyled__items">
    <li>リスト1.1
    <ul class="c-list-unstyled__items">
      <li>リスト1.1.1</li>
      <li>リスト1.1.2</li>
    </ul>
    </li>
    <li>リスト1.2</li>
  </ul>
  </li>
  <li>リスト2</li>
  <li>リスト3</li>
</ul>
```
*/
/* ul, ol */
.c-list-unstyled {
  @include _c-list-unstyled();
}

/* li > ul, li > ol */
.c-list-unstyled__items {
  margin-left: 0.7rem;
  text-indent: -0.5rem;
  list-style-position: inside;
  list-style: none;
  margin-top: 0.2rem;
}
