 /* #List-link
   -------------------------------------------------------------------------- */
/*doc
---
title: list-link
name: list-link
categories: [component]
---

番号付きリストを入れ子レベルに応じて、1, 1.1のように区切り文字を付け加えます。

```block
<ol class="c-list-link">
  <li class="c-list-link__item">リスト1
  <ol class="c-list-link__items">
    <li class="c-list-link__item">リスト1.1
    <ol class="c-list-link__items">
      <li class="c-list-link__item">リスト1.1.1</li>
      <li class="c-list-link__item">リスト1.1.2</li>
    </ol>
    </li class="c-list-link__item">
    <li class="c-list-link__item">リスト1.2</li>
  </ol>
  </li class="c-list-link__item">
  <li class="c-list-link__item">リスト2</li>
</ol>
```
*/
/* ul */
.c-list-link {
  display: table;
  @include _c-list-unstyled();
}

/* ul > li */
.c-list-link__item {
  display: table-row;
  counter-increment: ordered;
}

.c-list-link__item:before {
  content: counters(ordered, ".") " ";
  display: table-cell;
  padding-right: 0.5em;
  text-align: right;
}

/* li > ul */
.c-list-link__items {
  counter-reset: ordered;
  @include _c-list-unstyled();
}
