/* #thumbnail
  -------------------------------------------------------------------------- */
/*doc
---
title: thumbnail
name: thumbnail
categories: [component]
---

サムネイルのコンポーネント。

```block
```
*/

.c-thumbnail {
	overflow: hidden;
    position: relative;
    display: inline-block;
    background: #fff;
    border: 1px solid #bbb;
    vertical-align: bottom;
}

.c-thumbnail img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.c-thumbnail--square {
	width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.c-thumbnail--round {
	width: 100%;
    height: 0;
    padding-bottom: 100%;	
    border-radius: 50%
}

.c-thumbnail--round img, .c-thumbnail--square img {
	position: absolute;
    top: 50%;
    left: 50%;
    width: 102%;
    max-width: none;
    height: auto;
    transform: translate(-50%, -50%);
}

.c-thumbnail--16to9,
.c-thumbnail--21to9,
.c-thumbnail--3to2,
.c-thumbnail--4to3 {
    width: 100%;
    height: 0
}
.c-thumbnail--16to9 img,
.c-thumbnail--21to9 img,
.c-thumbnail--3to2 img,
.c-thumbnail--4to3 img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 102%;
    max-width: none;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
.c-thumbnail--3to2 {
    padding-bottom: 66.66667%
}
.c-thumbnail--4to3 {
    padding-bottom: 75%
}
.c-thumbnail--16to9 {
    padding-bottom: 56.25%
}
.c-thumbnail--21to9 {
    padding-bottom: 42.85714%
}
