 /* #Title
   -------------------------------------------------------------------------- */
/*doc
---
title: title
name: title
categories: [component]
---

見出しを指定するオブジェクトです。

Modifierは以下のとおりです。

* レベル1 `--level1`
* レベル2 `--level2`
* レベル3 `--level3`
* レベル4 `--level4`
* レベル5 `--level5`
* レベル6 `--level6`

```block
```
*/

/**
 * レベル1
 */
.c-title--level1 {
  font-size: $_font-size--xxxxlarge;
  font-weight: $_font-weight-bold;
  line-height: 1.3;
  margin-top: 10.0rem;
  margin-bottom: 4rem;
  @include _mq_down {
	  font-size: $_font-size--xxxxlarge - ( $_font-size--xxxxlarge * 0.3 );
  }
}

/**
 * レベル2
 */
.c-title--level2 {
  font-size: $_font-size--xxxlarge;
  font-weight: $_font-weight-bold;
  line-height: 1.3;
  margin-top: 8.0rem;
  margin-bottom: 3.2rem;
  @include _mq_down {
	  font-size: $_font-size--xxxlarge - ( $_font-size--xxxlarge * 0.3 );
  }
}

/**
 * レベル3
 */
.c-title--level3 {
  font-size: $_font-size--xxlarge;
  font-weight: $_font-weight-bold;
  line-height: 1.3;
  margin-top: 6.0rem;
  margin-bottom: 2.8rem;
  @include _mq_down {
	  font-size: $_font-size--xxlarge - ( $_font-size--xxlarge * 0.2 );
  }
}

/**
 * レベル4
 */
.c-title--level4 {
  font-size: $_font-size--xlarge;
  font-weight: $_font-weight-bold;
  line-height: 1.3;
  margin-top: 4.0rem;
  margin-bottom: 2.4rem;
  @include _mq_down {
	  font-size: $_font-size--xlarge - ( $_font-size--xlarge * 0.2 );
  }
}

/**
 * レベル5
 */
.c-title--level5 {
  font-size: $_font-size--large;
  font-weight: $_font-weight-bold;
  line-height: 1.2;
  margin-top: 3.0rem;
  margin-bottom: 2rem;
  @include _mq_down {
	  font-size: $_font-size--large - ( $_font-size--large * 0.1 );
  }
}

/**
 * レベル6
 */
.c-title--level6 {
  font-size: $_font-size--medium;
  font-weight: $_font-weight-bold;
  line-height: 1.3;
  margin-top: 2.0rem;
  margin-bottom: 1.6rem;
}

