@mixin _c-list-link() {
  display: table;
  @include _c-list-unstyled();
}

@mixin _c-list-link__item() {
  display: table-row;
}

@mixin _c-list-link__icon($padding-right: 0.25em) {
  display: table-cell;
  width: 1em;
  padding-right: $padding-right;
  text-align: center;
}

@mixin _c-list-link__items() {
  @include _c-list-unstyled();
}
