 /* #Page-Top
   -------------------------------------------------------------------------- */

.p-page-top {
	color: $_color-text-light;
	text-decoration: none;
	display: block;
	padding-top: 1rem;
	font-size: $_font-size--small;
	font-weight: $_font-weight-bold;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	position: relative;
	&:before {
		font-size: $_font-size--xxlarge;
		content: "\f106";
		font-family: FontAwesome;
		position: absolute;
		left: 50%;
		top: 0.1rem;
	}
	&:hover {
		color: $_color-text-light;
		text-decoration: none;
	}
}
