
 /* #Card
   -------------------------------------------------------------------------- */
/*doc
---
title: card
name: card
categories: [project]
---

カードタイプのコンポーネントです。

```block
```
*/

$_card-gap: $_white-space--small !default;
$_card-margin-y: $_white-space !default;
$_card-margin-x: $_white-space !default;
$_card-border: 1px solid $_color-ui-border !default;
$_card-radius: $_radius !default;

.p-card {
	position: relative;
	margin-top: $_card-margin-y;
	margin-bottom: $_card-margin-y;
	padding: 0;
	overflow: hidden; /* 子要素のマージンの相殺を止める */
	list-style-type: none;
	background-color: $_color-bg;
}

.p-card--shadow {
	@include _shadow();
}

.p-card--border {
	border: $_card-radius;
}

.p-card__head {
	margin: $_card-margin-x;
	> :last-child {
		margin-bottom: 0;
	}
	> :first-child {
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
}

.p-card__body {
	margin: $_card-margin-y $_card-margin-x;
	line-height: 1.5;
	> :last-child {
		margin-bottom: 0;
	}
	> :first-child {
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
}

.p-card__foot {
	margin: $_card-margin-x;
	border-top: $_card-border;
	> :last-child {
	margin-bottom: 0;
	}
}

/**
 * カード内に画像を配置する場合は p-card__imageWrapper の中に
 * 画像要素を p-card__image 指定すること
 */
.p-card__image-wrapper {
	overflow: hidden;
    position: relative;
    display: block;
    height: 0;
	max-width: none;
	width: 100%;
	overflow: hidden;
	padding-bottom: 50%;
}

.p-card__image,
.p-card__image-top,
.p-card__image-bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 101%;
    transform: translate(-50%, -50%);
}

.p-card__head,
.p-card__image-top {
	@if $_card-radius != null {
	border-radius: ($_card-radius - 1) ($_card-radius - 1) 0 0;
	}
}

.p-card__foot,
.p-card__image-bottom {
	@if $_card-radius != null {
	border-radius: 0 0 ($_card-radius - 1) ($_card-radius - 1);
	}
}

.p-card__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.p-card__list-item {
	margin: $_card-margin-x;
	border-top: $_card-border;
}

.p-card__list-link {
	display: block;
	margin: -$_card-margin-x;
	margin: $_card-margin-x;
}

.p-card__inner {
	text-decoration: none;
	color: $_color-text;
	&:hover {
		text-decoration: none;
		color: $_color-text;
	}
}

/**
 * カード下にボタンを配置する場合の絶対配置 1
 * 絶対配置用の高さを保持しておく 
 */
.p-card__footer {
	padding-bottom: 6rem;
}

/**
 * カード下にボタンを配置する場合の絶対配置 2
 */
.p-card__link {
	position: absolute;
	bottom: 2rem;
	left: 0;
	width: 100%;
	margin-bottom: 0;
	text-align: center;
}

.p-card--02 {
	overflow: hidden;
	max-height: 300px;
}

.p-card--02 .p-card__image-wrapper {
	padding-bottom: 50%;
}

.p-card--02 .p-card__image {
	max-width: none;
	width: 100%;
	height: auto;
	margin: 0;
}

.p-card--02 .p-card__body {
	position: absolute;
    top: 50%;
    left: 50%;
	margin: 0;
    width: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.p-card--02 .p-card__inner {
	color: #fff;
}

.p-card__button {
	margin-top: 3rem;
}