 /* #Flip
   -------------------------------------------------------------------------- */
/*doc
---
title: Flip
name: Flip
categories: [project]
---

コンテンツと画像を左右に配置するのコンポーネント

```block
```
*/
.p-flip {
	position: relative;
	width: 100%;
	@include _mq-down {
		height: auto !important;
	}
}

.p-flip--01 {
	@include _mq-up {
		height: 500px;
	}
}

.p-flip__container {
	position: relative;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	@include _mq-up(md) {
		width: 960px;
	}
	@include _mq-up(lg) {
		width: 1000px;
	}
	@include _mq-up(xl) {
		width: 1200px;
	}
	@include _mq-down {
		height: auto !important;
	}
}
.p-flip__cover {
	width: 100%;
	height: 200px;
	background-image: url(../img/home-visual-1.jpg);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: cover;
}

.p-flip .p-flip__cover {
	@include _mq-up {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}
}

.p-flip--01 .p-flip__cover {
	@include _mq-up {
		width: 50%;
		left: auto;
		right: 0;
	}
}

.p-flip__body {
	display: table;
	width: 100%;
	position: relative;
	background-color: rgba(255,255,255,0.85);
	z-index: $_z-index--default;
}

.p-flip .p-flip__body {
	@include _mq-up {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(0, -50%);
	}
}

.p-flip--01 .p-flip__body {
	@include _mq-up {
		width: 50%;
	}
}

.p-flip__body-inner {
	display: table-cell;
	padding: 2rem 1rem;
	vertical-align: middle;
	@include _mq-up {
		padding: 1rem;
	}
}

.p-flip--02 {
	@include _mq-up {
		height: 500px;
		padding-top: 0;
	}	
}

.p-flip--02 .p-flip__body-inner {
	padding: 6rem;
}

.p-flip--02 .p-flip__body {
	width: 50%;
    min-height: 25%;
}

.p-flip--03 {
	@include _mq-up {
		height: 500px;
		padding-top: 0;
	}	
}

.p-flip--03 .p-flip__body {
	width: 50%;
    min-height: 90%;
}

.p-flip--r .p-flip__body {
	@include _mq-up {
	    left: auto;
	    right: 0;
	}
}

.p-flip--r.p-flip--01 .p-flip__cover {
	@include _mq-up {
		right: auto;
		left: 0;
	}
}