 /* #FooterUtility
   -------------------------------------------------------------------------- */
/*doc
---
title: footerUtility
name: footerUtility
categories: [project]
---

フッター内のユーティリティーメニューのコンポーネント

```block
```
*/
.p-footerUtility {
	display: flex;
	justify-content: flex-end;
	margin-top: 2rem;
	/* スマホのときは左寄せ */
	@include _mq_down {
		justify-content: start;
	}
}

.p-footerUtility__item {
	&:before {
		@include _p-icon();
		@include _p-icon-name("\f105");
	}
	&:first-child{
		margin-right: 2rem;
	}
}
.p-footerUtility__item a {
	color: $_color-text-light;
	text-decoration: none;
	font-size: $_font-size--small;
}
