
 /* #footerInfo
   -------------------------------------------------------------------------- */
/*doc
---
title: footerInfo
name: footerInfo
categories: [project]
---

フッターの会社情報のコンポーネントです。

```block
```
*/

.p-footerInfo {
}

.p-footerInfo__head {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}
.p-footerInfo__logo {
	width: 12%;
	margin-right: 1rem;
}
.p-footerInfo__title {
	font-size: $_font-size--large;
}
.p-footerInfo__body {
	font-size: $_font-size--small;
}

.p-footerInfo__tell {
	margin-right: 1rem;
	color: inherit;
	text-decoration: none;
}

.p-footerInfo__tell,.p-footerInfo__fax {
	line-height: 1.5;
	display: block;
}

.p-footerInfo__foot {
}

.p-footerInfo__list {
	display: flex;
	justify-content: flex-start;
	@include _mq_down {
		display: block;
	}
}

.p-footerInfo__list-item {
}

.p-footerInfo__list-link {
}
