 /* #FooterNav   
	 -------------------------------------------------------------------------- */
/*doc
---
title: footerNav
name: footerNav
categories: [project]
---

フッターナビゲーションのコンポーネントです。

```block
```
*/

.p-footerNav {
	display: flex;
	/* スマホは非表示 */
	@include _mq_down {
		display: none;
	}
}

.p-footerNav__head {
	width: 25%;
}

.p-footerNav__head > a, .p-footerNav__item > a {
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-size: $_font-size--medium;
	color: $_color-text-light;
}

.p-footerNav__head > a {
	font-weight: $_font-weight-bold;
}

.p-footerNav__item > a {
	font-size: $_font-size--small;
}

.p-footerNav__item {
	line-height: 1.5;
	&:before {
		@include _p-icon();
		@include _p-icon-name("\f105");
	}
}