 /* #GlobalNav
   -------------------------------------------------------------------------- */

.p-globalNav {
	display: flex;
	justify-content: space-between;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	/* スマホときは非表示 */
	@include _mq-down {
		display: none;
	}
}

.p-globalNav__item {
	list-style-type: none;
	text-decoration: none;
	list-style-position: inside;
	&:hover > .p-globalNav__submenu {
		display: block;
	}
}

.p-globalNav__submenu {
	display: none;
	position: absolute;
	padding: 10px 15px;
	list-style-type: none;
	color: #fff;
	background-color: rgba( 255,255,255, 0.2)
}