 /* #HeaderNav
   -------------------------------------------------------------------------- */

.p-headerNav {
	margin-left: auto;
	width: 60%;
	&__utility {
		@include _mq-down {
			display: none;
		}
	}
	/* グローバルは p-globalNav クラス内で非表示 */
/*	&__global {
		@include _mq-down {
			display: none;
		}
	}
*/
}
