 /* #Header-logo
   -------------------------------------------------------------------------- */
/*doc
---
title: header-logo
name: header-logo
categories: [project]
---

ヘッダー内のサイトロゴのコンポーネントです。

```block
```
*/

.p-header-logo {
	margin-right: auto;
}

.p-header-logo > h1 {
	font-size: $_font-size--xxlarge;
}

.p-header-logo > h1 > a {
	text-decoration: none;
	color: $_color-text-main;
}