 /* #HeaderUtility
   -------------------------------------------------------------------------- */
/*doc
---
title: headerUtility
name: headerUtility
categories: [project]
---

ヘッダー内のユーティリティーメニューのコンポーネント

```block
```
*/
.p-headerUtility {
	display: flex;
	justify-content: flex-end;
}

.p-headerUtility__item {
	background-color: $_color-link;
	padding-top: 0.6rem;
	padding-right: 1.6rem;
	padding-bottom: 0.6rem;
	padding-left: 1.6rem;
	line-height: 1;
	&:first-child {
		margin-right: 0.2rem;
	}
}

.p-headerUtility__item a {
	color: $_color-text-light;
	text-decoration: none;
	font-size: $_font-size--small;
}
