 /* #HeroArea
   -------------------------------------------------------------------------- */
/*doc
---
title: heroArea
name: heroArea
categories: [project]
---

ヒーローエリアのコンポーネントです。横幅を超えると、折り返さず省略されます。

```block
```
*/
.p-heroArea {
}

.p-heroArea__inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	width: $_max-width;
	height: 30%;
	@include _mq_down {
		width: 90%;
	}
}

.p-heroArea__content {
	text-align: center;
}

.p-heroArea__head {
	font-size: $_font-size--xxxxlarge;	
	  @include _mq_down {
		  font-size: $_font-size--xxxxlarge - ( $_font-size--xxxxlarge * 0.3 );
	  }
}

.p-heroArea__body {
	font-size: $_font-size--xxlarge;	
  @include _mq_down {
	  font-size: $_font-size--xxlarge - ( $_font-size--xxlarge * 0.3 );
  }
}

.p-heroArea__image-wrapper {
	@include _mq_down {
		position: relative;
		overflow: hidden;
		padding-top: 90%;
	}
}

.p-heroArea__image-wrapper img{
	@include _mq_down {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 100%;
		width: auto;
		max-width: none;
		transform: translate(-50%,-50%);
	}
}
