 /* #Label
   -------------------------------------------------------------------------- */
/*doc
---
title: label
name: label
categories: [project]
---

インラインでメッセージを表示するコンポーネントです。

```block
<p><span class="p-label">タグ名</span></p>
```
*/

.p-label {
  display: inline-block;
  padding: 0.5em;
  // border-radius: $_radius;
  color: $_color-ui-bg;
  font-size: $_font-size--small;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  background-color: $_color-link;
}
