/* #lead
  -------------------------------------------------------------------------- */
/*doc
---
title: lead
name: lead
categories: [project]
---

リード分のコンポーネントです。

```block
```
*/
.p-lead {
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	@include _mq_up {
		width: 640px;
	}
}

.p-lead__head {
	margin-bottom: 2rem;
}

.p-lead__body {
	font-family: $_font-family-serif-6;
	font-size: $_font-size--large;
	line-height: 2;	
}
.p-lead__footer {
	padding-top: 3rem;
}