/* #media
  -------------------------------------------------------------------------- */
/*doc
---
title: media
name: media
categories: [project]
---

メディアのコンポーネントです。

```block
```
*/
.p-media {
	position: relative;
}

.p-media--01 {
	
}

.p-media__body {
	flex: 1;
    width: auto;
}
.p-media__head {
}

.p-media__date{
}

.p-media__inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.p-media__vm .p-media__inner {
	align-items: center;
}

.p-media__image {
	min-width: 25%;
	padding-right: 1rem;
	line-height: 1;
	@include _mq_up {
		padding-right: 20px;
	}
}

.p-media--r .p-media__inner {
	flex-direction: row-reverse;
}

.p-media--r .p-media__image {
	padding-right: 0;
	@include _mq_up {
		padding-left: 20px;
	}
}

.p-media--01 .p-media__image {
	width: 25%;
    min-width: 75px;
 	@include _mq_up(sm) {
 		min-width: 100px;
 	}
 	@include _mq_up(md) {
 		min-width: 120px;
 	}
 	@include _mq_up(lg) {
 		min-width: 160px;
 	}
 	@include _mq_up(xl) {
 		min-width: 200px;
 	}
}