/* #news-list
  -------------------------------------------------------------------------- */
/*doc
---
title: news-list
name: news-list
categories: [project]
---

リード分のコンポーネントです。

```block
```
*/
.p-news-list {
}

.p-news-list__content {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: solid 1px $_color-ui-border;
	& * {
		display: inline-block;
		margin-right: 0.5rem;
	}
}

.p-news-list__link {
	@include _mq_down {
		display: block;
	}
}