/* #Page-Content
  -------------------------------------------------------------------------- */
/*doc
---
title: page-content
name: page-conten
categories: [project]
---

デフォルトのコンポーネントです。

```block
```
*/
.p-page-content {
	p {
		margin-bottom: 1.5rem;
	}
	&__main-image {
		border-radius: 0.5rem;
		margin-bottom: 1.5rem;
	}
	&__body {
		line-height: 1.9;
		margin-bottom: 1.5rem;
	}
	&__meta {
		margin-bottom: 5rem;
	}
	&__nav {
		margin-bottom: 1.5rem;
	}
	&__fb {
		margin-bottom: 2rem;
	}
	&__achive {
		background-color: #fff1b3 !important; 
	}
/*	
	ul {
		margin-left: 1.5rem;
	}
	li {
		padding-left: 1.7rem;
		position: relative;
		margin-bottom: 0.7rem;
	}
	li:before {
		display: block;
		position: absolute;
		content: "";
		left: 0.5rem;
		top: 0.8rem;
		margin-top: 0.2rem;
		width: 0.4rem;
		height: 0.4rem;
		border-radius: 999999px;
		background: $_color-text-dark;
	}

	h2 {
	    font-size: 2.4rem;
	    font-weight: bold;
	    color: $_color-text-main;
	    margin: 0 0 2rem;
	    padding: 0.4rem 2.5rem;
	    border: none;
	    background: #496874;
	    text-align: left;
	}
	h3 {
	    font-size: 2.1rem;
	    font-weight: bold;
	    color: $_color-text-main;
	    margin: 2rem 0 1rem;
	    padding: 0 0 0.3rem;
	    border: none;
	    border-bottom: 1px solid $_color-text-main;
	    background: none;
	    text-align: left;
	}
	h4 {
	    font-size: 1.9rem;
	    font-weight: bold;
	    color: $_color-text-main;
	    margin: 2rem 0 0.7rem;
	    padding: 0 1rem;
	    border: none;
	    border-left: 3px solid #496874;
	    background: none;
		text-align: left;
	}
	h5 {
	    font-size: 1.6rem;
	    font-weight: bold;
	    color: $_color-text-main;
	    margin: 1.7rem 0 0.5rem;
	    padding: 0;
	    border: none;
	    background: none;
	    text-align: left;
	}
*/
	    
	table {
	  width: 100%;
  	  border: 1px solid $_color-border;
	  border-collapse: separate;
	  border-radius: 5px;
	  border-spacing: 0;
	}
	tr{
		&:nth-child(odd) {
			background-color: #f4f7f6;
		}
		&:first-child{
		  th:first-child{
		    border-radius: 5px 0 0 0;
		  }
		  td:first-child{
		    border-radius: 0 5px 0 0 ;
		  }
		}
		&:last-child{
		  th{
		    border-bottom: none;
		  }
		  td{
		    border-bottom: none;
		  }
		  th:last-child{
		    border-bottom: none;
		    border-radius: 0 0 0 5px;
		  }
		  td:last-child{
		    border-bottom: none;
		    border-radius: 0 0 5px 0;
		  }
		}
		th:last-child{
			border-right: none;
		}
		td:last-child{
			border-right: none;
		}
	}
	th, td {
	  border-bottom: 1px solid $_color-border;
	  border-right: 1px solid $_color-border;
	  text-align: left;
	  padding: 0.7rem;
	  white-space: nowrap;
	}
	th {
	  background: $_color-bg-light;
	}
}
