 /* #pagetop
   -------------------------------------------------------------------------- */
/*doc
---
title: pagetop
name: pagetop
categories: [project]
---

フッターに配置するページトップに戻るボタンのコンポーネントです。

```block
```
*/
.p-pagetop {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: $_z-index--fixNav;
	right: 1rem;
	bottom: 1rem;
	width: 6rem;
	height: 6rem;
	background: $_color-link;
	color: $_color-text-light;
}

.p-pagetop > a {
	color: $_color-text-light;
	font-size: $_font-size--xsmall;
	text-decoration: none;
}