 /* #Page-title
   -------------------------------------------------------------------------- */

.p-page-title {
	padding-top: 4rem;
	padding-bottom: 4rem;
	font-size: $_font-size--xxxlarge;
	text-align: center;
	background-color: $_color-bg-light;
	@include _mq_down {
	  font-size: $_font-size--xxxlarge - ( $_font-size--xxxlarge * 0.3 );
	}
}
