 /* #Responsive-nav
   -------------------------------------------------------------------------- */
.p-responsive-nav {
	display: none;
}

.p-responsive-nav__icon {
 	display: none;
    background: #000;
    position: fixed;
    right: 0;
    top: 0;
    height: 5rem;
    width: 5rem;
    z-index: 4;
    @include _mq_down {
	    display: block;
    }
    &:after {
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    margin: auto;
	    width: 40%;
	    height: 2.4rem;
	    content: "\f0c9";
	    font-family: FontAwesome;
	    font-size: 2.4rem;
	    line-height: 1;
	    color: #fff;
    }
}


.responsive-button-close {
    &:after {
	    content: "\f067";
	    transform: rotate(45deg);
    }	
}