<h2 class="c-title--level2 u-ta-c">ピックアップ</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="p-card p-card--01 p-card__linked">
                <div class="p-card__image-wrapper">
                    <a class="p-card__inner" href="#">
                        <picture>
                            <source media="(max-width:640px)" sizes="100vw" srcset="http://placehold.jp/12/9ed8db/ffffff/200x150.png?text=small_image 640w" />
                            <source sizes="(max-width:1280px) 100vw, 1280px" srcset="http://placehold.jp/36/ffcc66/ffffff/640x480.png?text=large_image 1280w" />
                            <img alt="" class="p-card__image" src="http://placehold.jp/24/9ed8db/ffffff/640x360.png?text=renponsive_image" />
                        </picture>
                    </a>
                </div>
                <div class="p-card__body">
                    <h3 class="c-title--level5"><a class="p-card__inner" href="#">カードのタイトルです</a></h3>
                    <a class="p-card__inner" href="#">
                        <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
                    </a>
                    </a>
                </div>
                <div class="p-card__footer">
                    <p class="p-card__link">
                        <span class="c-button c-button__block c-button--primary c-button--flat" href="#">ボタン</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="p-card p-card--01 p-card__linked">
                <div class="p-card__image-wrapper">
                    <a class="p-card__inner" href="#">
                        <picture>
                            <source media="(max-width:640px)" sizes="100vw" srcset="http://placehold.jp/12/9ed8db/ffffff/200x150.png?text=small_image 640w" />
                            <source sizes="(max-width:1280px) 100vw, 1280px" srcset="http://placehold.jp/36/ffcc66/ffffff/640x480.png?text=large_image 1280w" />
                            <img alt="" class="p-card__image" src="http://placehold.jp/24/9ed8db/ffffff/640x360.png?text=renponsive_image" />
                        </picture>
                    </a>
                </div>
                <div class="p-card__body">
                    <h3 class="c-title--level5"><a class="p-card__inner" href="#">カードのタイトルです</a></h3>
                    <a class="p-card__inner" href="#">
                        <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
                    </a>
                    </a>
                </div>
                <div class="p-card__footer">
                    <p class="p-card__link">
                        <span class="c-button c-button__block c-button--primary c-button--flat" href="#">ボタン</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="p-card p-card--01 p-card__linked">
                <div class="p-card__image-wrapper">
                    <a class="p-card__inner" href="#">
                        <picture>
                            <source media="(max-width:640px)" sizes="100vw" srcset="http://placehold.jp/12/9ed8db/ffffff/200x150.png?text=small_image 640w" />
                            <source sizes="(max-width:1280px) 100vw, 1280px" srcset="http://placehold.jp/36/ffcc66/ffffff/640x480.png?text=large_image 1280w" />
                            <img alt="" class="p-card__image" src="http://placehold.jp/24/9ed8db/ffffff/640x360.png?text=renponsive_image" />
                        </picture>
                    </a>
                </div>
                <div class="p-card__body">
                    <h3 class="c-title--level5"><a class="p-card__inner" href="#">カードのタイトルです</a></h3>
                    <a class="p-card__inner" href="#">
                        <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
                    </a>
                    </a>
                </div>
                <div class="p-card__footer">
                    <p class="p-card__link">
                        <span class="c-button c-button__block c-button--primary c-button--flat" href="#">ボタン</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="p-card p-card--01 p-card__linked">
                <div class="p-card__image-wrapper">
                    <a class="p-card__inner" href="#">
                        <picture>
                            <source media="(max-width:640px)" sizes="100vw" srcset="http://placehold.jp/12/9ed8db/ffffff/200x150.png?text=small_image 640w" />
                            <source sizes="(max-width:1280px) 100vw, 1280px" srcset="http://placehold.jp/36/ffcc66/ffffff/640x480.png?text=large_image 1280w" />
                            <img alt="" class="p-card__image" src="http://placehold.jp/24/9ed8db/ffffff/640x360.png?text=renponsive_image" />
                        </picture>
                    </a>
                </div>
                <div class="p-card__body">
                    <h3 class="c-title--level5"><a class="p-card__inner" href="#">カードのタイトルです</a></h3>
                    <a class="p-card__inner" href="#">
                        <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
                    </a>
                    </a>
                </div>
                <div class="p-card__footer">
                    <p class="p-card__link">
                        <span class="c-button c-button__block c-button--primary c-button--flat" href="#">ボタン</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>