<div class="row u-row-0">
    <div class="col-sm-6">
        <div class="p-card p-card--02 u-mb-kill">
            <div class="p-card__image-wrapper"><a class="p-card__inner" href="#">
                    <picture>
                        <source media="(max-width:640px)" sizes="100vw" srcset="http://placehold.jp/12/9ed8db/ffffff/200x150.png?text=small_image 640w" />
                        <source sizes="(max-width:1280px) 100vw, 1280px" srcset="http://placehold.jp/36/ffcc66/ffffff/640x480.png?text=large_image 1280w" />
                        <img alt="" class="p-card__image" src="http://placehold.jp/24/9ed8db/ffffff/640x360.png?text=renponsive_image" />
                    </picture>
                </a></div>

            <div class="p-card__body">
                <h3 class="c-title--level4"><a class="p-card__inner" href="#">カードのタイトルです</a></h3>

                <p><a class="p-card__inner" href="#">吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</a></p>

                <p class="p-card__button"><a class="p-card__inner" href="#"><span class="c-button c-button__block c-button--line c-button--flat"
                            href="#">ボタン</span></a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="p-card p-card--02 u-mb-kill">
            <div class="p-card__image-wrapper"><a class="p-card__inner" href="#">
                    <picture>
                        <source media="(max-width:640px)" sizes="100vw" srcset="http://placehold.jp/12/9ed8db/ffffff/200x150.png?text=small_image 640w" />
                        <source sizes="(max-width:1280px) 100vw, 1280px" srcset="http://placehold.jp/36/ffcc66/ffffff/640x480.png?text=large_image 1280w" />
                        <img alt="" class="p-card__image" src="http://placehold.jp/24/9ed8db/ffffff/640x360.png?text=renponsive_image" />
                    </picture>
                </a></div>

            <div class="p-card__body">
                <h3 class="c-title--level4"><a class="p-card__inner" href="#">カードのタイトルです</a></h3>

                <p><a class="p-card__inner" href="#">吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</a></p>

                <p class="p-card__button"><a class="p-card__inner" href="#"><span class="c-button c-button__block c-button--line c-button--flat"
                            href="#">ボタン</span></a></p>
            </div>
        </div>
    </div>
</div>