<h2>flip--01</h2>

<div class="p-flip p-flip--01">
	<div class="p-flip__container">
		<div class="p-flip__cover">&nbsp;</div>		
			<div class="p-flip__body">
				<div class="p-flip__body-inner">
					<div class="bg-third bg-fade p-sm line-c">(contents)</div>
			</div>
		</div>
	</div>
</div>
