<h2>flip--r</h2>

<div class="p-flip p-flip--01 p-flip--r">
	<div class="p-flip__container">
		<div class="p-flip__cover">&nbsp;</div>		
		<div class="p-flip__body">
			<div class="p-flip__body-inner">
				<div class="bg-third bg-fade p-sm line-c">(contents)</div>
			</div>
		</div>
	</div>
</div>
<div class="p-flip p-flip--02 p-flip--r">
	<div class="p-flip__cover">&nbsp;</div>
	<div class="p-flip__container">
		<div class="p-flip__body">
			<div class="p-flip__body-inner">
				<div class="bg-third bg-fade p-sm line-c">(contents)</div>
			</div>
		</div>
	</div>
</div>
<div class="p-flip p-flip--03 p-flip--r">
	<div class="p-flip__cover">&nbsp;</div>		
	<div class="p-flip__container">
		<div class="p-flip__body">
			<div class="p-flip__body-inner">
				<div class="bg-third bg-fade p-sm line-c">(contents)</div>
			</div>
		</div>
	</div>
</div>
