<h2>flip--02</h2>

<div class="p-flip p-flip--02">
	<div class="p-flip__cover">&nbsp;</div>		
	<div class="p-flip__container">
		<div class="p-flip__body">
			<div class="p-flip__body-inner">
				<div class="bg-third bg-fade p-sm line-c">
					<div class="p-block">
						<div class="p-block__head">
							<h3 class="c-title--level4 u-mt-kill u-ta-c">タイトル</h3>
						</div>
						<div class="p-block__body">
							<p>この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。</p>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>