<h2>lead</h2>
<div class="p-lead">
    <div class="p-lead__head">
        <h2 class="c-title__level2">見出しと文章</h2>
    </div>
    <div class="p-lead__body">
        <p class="m-b">吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
    </div>
    <div class="p-lead__footer">
        <p class="p-lead__link"><a href="#" class="c-button c-button__block c-button-lg c-button--primary">ボタン</a></p>
    </div>
</div>

