
<h2>media--vm</h2>
<div style="width: 768px;">

<div class="p-media p-media--vm">
    <div class="p-media__inner">
        <div class="p-media__image">
            <div class="c-thumbnail c-thumbnail--square">
                <img src="http://placehold.jp/24/cccccc/ffffff/300x300.png?text=dummy_image" alt="">
            </div>
        </div>

        <div class="p-media__body">
            <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</p>
        </div>
    </div>
</div>

</div>


<h2>media--r</h2>
<div style="width: 768px;">

<div class="p-media p-media--r">
    <div class="p-media__inner">
        <div class="p-media__image">
            <div class="c-thumbnail c-thumbnail--square">
                <img src="http://placehold.jp/24/cccccc/ffffff/300x300.png?text=dummy_image" alt="">
            </div>
        </div>

        <div class="p-media__body">
            <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</p>
        </div><!-- /.media-contents -->
    </div>
</div>

</div>


<h2>media--01</h2>
<div style="width: 768px;">

<div class="p-media p-media--01">
    <div class="p-media__inner">
        <div class="p-media__image">
            <div class="c-thumbnail c-thumbnail--square">
                <img src="http://placehold.jp/24/cccccc/ffffff/480x320.png?text=dummy_image" alt="">
            </div>
        </div>

        <div class="p-media__body">
            <h3 class="p-media__head c-title--level5">サマリーのタイトルですサマリーのタイトルですサマリーのタイトルです</h3>
            <time class="p-media__date">2017-12-28</time>
            <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</p>
        </div><!-- /.media-contents -->
    </div>
</div>

</div>