/* #Base
   -------------------------------------------------------------------------- */
/**
 * Baseレイヤーにはプロジェクトにおける、基本的なベーススタイルを定義します。
 * 要素セレクタや属性セレクタなど、詳細度はできるかぎり低く保っておきます。
 * 基本的にclass属性は使用しません。
 */
/**
 * `padding`と`border`を`width`に含めます。
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  color: $_color-text;
  font-size: map-get($_font-size, lg);
  line-height: 1.8;
  @include _mq-down(lg) {
	  min-width:  $_max-width;
  }
  @include _mq-down() {
    font-size: map-get($_font-size, sm);
	line-height: 1.7;
	min-width: initial;
  }
  font-family: $_font-family-sans-serif-2;
  /* アンチエイリアスを指定する */
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  /* メトリクスカーニングを指定する */
  font-kerning: normal;
}

.container {
	@include _mq-up {
		width: $_max-width;
	}
}

