/* #Main
   -------------------------------------------------------------------------- */
/**
 * Baseレイヤーにはプロジェクトにおける、基本的なベーススタイルを定義します。
 * 要素セレクタや属性セレクタなど、詳細度はできるかぎり低く保っておきます。
 * 基本的にclass属性は使用しません。
 */

/**
 * Concrete5 のメインエリア部分にだけ適用させるためのMainレイヤー
 *
 */

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: $_font-weight-bold;
  line-height: 1.4;
  color: inherit;
}

h1 {
  font-size: 4.4rem;
}
h2 {
  font-size: 4.0rem;
}
h3 {
  font-size: 3.0rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 2.0rem;
}
h6 {
  font-size: 1.6rem;
}

ul, ol {
}
/**
 * ネストされたリストのマージンをリセットします。
 */
li {
  list-style: none;
  list-style-position: inside;
  > ul, > ol {
    margin-bottom: 0;
  }
}

/**
 * `dt`と`dd`の左端を揃えます。
 */
dd {
  margin-left: 0;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

a {
  text-decoration: underline;
  color: $_color-link;
  &:visited {
    color: $_color-link--visited;
  }
  @include _on-event {
    text-decoration: underline;
    color: $_color-link--hover;
  }
}

/**
 * フルードイメージにします。
 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/**
 * IEでSVGがフルードイメージにならない不具合があります。
 * 属性値が`.svg`で終わる要素に適応します。
 */
[src$=".svg"],
[data$=".svg"] {
  width: 100%;
}

/**
 * 日本語では斜体を使用しないためリセットします。
 */
i,
cite,
em,
address,
dfn {
  font-style: normal;
}

code,
pre {
    font-family: Consolas, Menlo, Courier, monospace;
}

code {
  padding: 0.2em;
  border-radius: $_radius;
  font-size: $_font-size--small;
  background-color: rgba(0,0,0,0.06);
}

pre code {
  padding: 0;
  font-size: $_font-size--small;
  background-color: inherit;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
